{% extends 'layouts.html' %}

{% block title %}
	Create Page
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Create</h2>
        <form action="{% url 'members.add' %}" method="POST">
        	{% csrf_token %}
            <!-- <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone">
            </div>
			<div class="form-group">
                <label for="note">Note</label>
                <textarea type="text" class="form-control" id="note" name="note"></textarea>
            </div> -->
            <table class="m-auto">
                {{ form.as_table }}
            </table>

            <div class="d-flex justify-content-between">
	            <button type="submit" class="btn btn-primary">Create</button>
	            <a class="btn btn-secondary" href="{% url 'members' %}">Back to List</a>
	        </div> 
        </form>
    </div>
{% endblock %}