{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Test Django{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body>
	<main>
    <header class="p-3 bg-dark text-white mb-3">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-between">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a href="{% url 'companies' %}" class="nav-link px-2 text-white">Companies</a></li>
              <li><a href="{% url 'members' %}" class="nav-link px-2 text-white">Members</a></li>
            </ul>

            <div class="text-end">
              {% if request.user.is_authenticated %}
                <span class="text-white mr-2">Hello {{ request.user.name }}</span>
                <a class="btn btn-outline-light" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-light">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </header>
        {% block content %}
        <!-- Default content if not overridden in child templates -->
        {% endblock %}
    </main>
	<footer class="main-footer mt-4">
		<div class="text-center border-top"><span><strong>Copyright © 01/2023-{% now "m/Y" %} <a href="#">Kien-IT</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0
    </div></span></div>
	</footer>
	<div class="loading-div hidden">
        <div class="loader-img"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
